:root {
    --primeira-cor: #070707;
    --segunda-cor: #28231C;

    --borda:#513B3C;

    --fundo: #655356;
    --text: #C1EEFF;
}

* {
    margin: 0;
    padding: 0;
}

body {
    background-color: var(--fundo);
    color: var(--text);
    font-size: 30px;
}

h1 {
    color: var(--primeira-cor);
}

.conteudo {
    display: flex;

    height: 200px;
}

.conteudo > .esquerda > img {
    width: 70px;
    height: 70px;
}