:root {
    --primeira-cor: #3066BE;
    --segunda-cor: #119DA4;

    --borda:#6D9DC5;

    --fundo: #80DED9;
    --text: #AEECEF;
}

* {
    margin: 0;
    padding: 0;
}

body {
    background-color: var(--fundo);
    color: var(--text);
    font-size: 30px;
}

h1 {
    color: var(--primeira-cor);
}

.conteudo {
    display: flex;

    height: 200px;
}

.conteudo > .esquerda > img {
    width: 70px;
    height: 70px;
}